{% extends 'base.html' %}

{% load static %}

{% block title %} Clients {% endblock %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <button class="inline-flex items-center bg-blue-300 border-0 py-1 px-3 focus:outline-none hover:bg-blue-200 rounded text-base mt-4 md:mt-0" style="margin-top: 20px"> <a href=" /clients/"> Back </a>
  </button>
    <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img src="{% static 'img/erkinov-logo.png' %}" style="width: 320px; height: 350px; margin-top: 100px;" alt="ecommerce">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Flash Academy</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ client.first_name }} {{ client.second_name }}</h1>
        <div class="flex mb-4">
            <a href="{% url 'client:user-info' client.pk %} " class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                Informations
            </a>
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                Reviews
            </a>
            <a href="{% url 'client:update-user' client.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                Edit
            </a>
        </div>

        <div class="flex border-t border-gray-200 py-2"> 
          <span class="text-gray-500">Firs Name: <pan>
          <span class="leading-relaxed mb-4">{{ client.first_name }}<pan>
        </div>
        <div class="flex border-t border-gray-200 py-2"> 
          <span class="text-gray-500">Second Name: <pan>
          <span class="leading-relaxed mb-4">{{ client.second_name }}<pan>
        </div>
        <div class="flex border-t border-gray-200 py-2"> 
          <span class="text-gray-500">Order Name: <pan>
          <span class="leading-relaxed mb-4">{{ client.order_name }}<pan>
        </div>
        <div class="flex border-t border-gray-200 py-2"> 
          <span class="text-gray-500">Total: <pan>
          <span class="leading-relaxed mb-4">{{ client.total }}<pan>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Phone Number: </pan>
          <span class="leading-relaxed mb-4" style="margin-left:0%">{{ client.phone_number }}</pan>
        </div>
        <div class="flex border-t border-gray-200 py-2">
          <span class="text-gray-500">Seamstress: </pan>
          <span class="leading-relaxed mb-4" style="margin-left:0%">{{ client.seamstress }}</ppan>
        </div>
        <div class="flex border-t border-gray-200 py-2"> 
          <span class="text-gray-500">Comment: <pan>
          <span class="leading-relaxed mb-4">{{ client.comment }}<pan>
        </div>
        <div class="flex">
          <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
            </svg>
          </button>
        </div>
      </div>
    
    </div>
    </div>
    </section>

{% endblock %}
